<section class="products-index">

  <header class="page-header">
    <h3>Featured Products</h3>
  </header>
  <div class="products">
    <% @featured_products.each do |product| %>
      <%= render "products", product: product %>
    <% end %>
    <%= paginate @featured_products %>
  </div>

</section>